#set($pageJS='
<script>
    $(".sidebar-menu li.treeview>a:contains(图文乐谱)").parent().addClass("active");
    $(function()
    {
        var sortid=$("#sortid")[0].value;
        $("#sel option[value="+sortid+"]").attr("selected",true);

    });
</script>')
<section class="content-header">
    <h1>
        图文管理
        <small>类别管理</small>
    </h1>

</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">修改类别</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form action="/nyadmin/articlesortedit" method="post">
                        <div>
                            <!-- 类别 -->
                            <div class="form-group col-md-6">
                                <label>上级类别</label>
                                <select id="sel" name="upperBookSort.id" class="form-control">
                                    #foreach($bookSort in $bookSortList)
                                        <option value="$bookSort.id">$bookSort.name</option>
                                    #end

                                </select>
                            </div>
                            <!-- 标题 -->
                            <div class="form-group col-md-6">
                                <label>类别名称</label>
                                <input type="text" name="name" class="form-control" value="$!bookSort.name" required/>
                            </div>
                        </div>

                        <div>
                            <input type="hidden" name="id" value="$!bookSort.id">
                            <input id="sortid" type="hidden" value="$!bookSort.upperBookSort.id">
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
