#set($pageJS='
<script>
    $(".sidebar-menu li.treeview>a:contains(音频管理)").parent().addClass("active");
</script>')
<section class="content-header">
    <h1>
        音频管理
        <small>类别管理</small>
    </h1>

</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">类别列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="col-md-2">级别</th>
                            <th class="col-md-4">名称</th>
                            <th class="col-md-4">上级类</th>
                            <th class="col-md-2">操作</th>
                        </tr>
                        </thead>
                        <tbody>

                            #foreach($mediaSort in $mediaSortList)
                                #if($mediaSort.id!=1)
                                <tr>
                                    <td>$mediaSort.level</td>
                                    <td>$mediaSort.name</td>
                                    <td>$!mediaSort.upperAudioSort.name</td>
                                    <td><a href="mediasorteditpage?id=$mediaSort.id" class="btn btn-primary">修改 </a>&nbsp<a
                                            href="mediasortdelete?id=$mediaSort.id" class="btn btn-danger">删除</a></td>
                                </tr>
                                #end
                            #end

                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">添加类别</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form action="/nyadmin/mediasortadd" method="post">
                        <div>
                            <!-- 类别 -->
                            <div class="form-group col-md-6">
                                <label>上级类别</label>
                                <select name="upperAudioSort.id" class="form-control">
                                    #foreach($mediaSort in $mediaSortList)
                                        <option value="$mediaSort.id">$mediaSort.name</option>
                                    #end

                                </select>
                            </div>
                            <!-- 标题 -->
                            <div class="form-group col-md-6">
                                <label>类别名称</label>
                                <input type="text" name="name" class="form-control" placeholder="Enter ..." required/>
                            </div>
                        </div>

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

