#set($pageJS='
<script>
$(document).ready(function(){
    $(".sidebar-menu li.treeview>a:contains(音频管理)").parent().addClass("active");
        $(function () {
        // instance, using default configuration.
        CKEDITOR.replace("editor1",{ filebrowserUploadUrl : "/nyadmin/ckeditormediaimage"});
        //bootstrap WYSIHTML5 - text editor
        $(".textarea").wysihtml5();
    });
    $("#submit").click(function () {
        $("#data-form").submit();
    });
    $("#upload-form").submit(function () {
        var formData = new FormData(this);
        $.ajax({
            url: "/nyadmin/mediavideo",
            type: "POST",
            dataType: "json",
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (data) {
                if (data.result == "success") {
                    $("#data-form input[name=\"path\"]").val(data.fileName);

                }
                alert(data.message);
            }
        });
        return false;
    });
    $("#upload-form1").submit(function () {
        var formData1 = new FormData(this);
        $.ajax({
            url: "/nyadmin/mediagcp",
            type: "POST",
            dataType: "json",
            data: formData1,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (data) {
                if (data.result == "success") {
                    $("#data-form input[name=\"gcp\"]").val(data.fileName);
                }
                alert(data.message);
            }
        });
        return false;
    });
     $("#upload-form2").submit(function () {
        var formData2 = new FormData(this);
        $.ajax({
            url: "/nyadmin/mediajp",
            type: "POST",
            dataType: "json",
            data: formData2,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (data) {
                if (data.result == "success") {
                    $("#data-form input[name=\"jp\"]").val(data.fileName);
                }
                alert(data.message);
            }
        });
        return false;
    });
     $("#upload-form3").submit(function () {
        var formData3 = new FormData(this);
        $.ajax({
            url: "/nyadmin/mediaimage",
            type: "POST",
            dataType: "json",
            data: formData3,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (data) {
                if (data.result == "success") {
                    $("#data-form input[name=\"file\"]").val(data.fileName);
                }
                alert(data.message);
            }
        });
        return false;
    });
    $(function()
    {
        var sortid=$("#sortid")[0].value;
        $("#sel option[value="+sortid+"]").attr("selected",true);

    });
});
</script>')
<section class="content-header">
    <h1>
        音频管理
        <small>添加音频</small>
    </h1>

</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <br>
                <!-- /.box-header -->
                <div class="box-body pad">
                    <form id="data-form" action="/nyadmin/mediaedit" method="post">
                        <div class="row">
                            <!-- 类别 -->
                            <div class="form-group col-md-4">
                                <label>选择类别</label>
                                <select id="sel" name="audioSort.id" class="form-control">
                                    #foreach($mediaSort in $mediaSortList)
                                        #if($mediaSort.id!=1)
                                            <option value="$mediaSort.id">$mediaSort.name</option>
                                        #end
                                    #end
                                </select>
                            </div>
                            <!-- 标题 -->
                            <div class="form-group col-md-4">
                                <label>音频名称</label>
                                <input type="text" name="title" class="form-control" value="$!media.title" required/>
                            </div>

                            <!-- 演唱 -->
                            <div class="form-group col-md-4">
                                <label>演唱</label>
                                <input type="text" name="singer" class="form-control" value="$!media.singer"/>
                            </div>
                        </div>
                        <div class="row">
                            <!-- 演奏 -->
                            <div class="form-group col-md-4">
                                <label>演奏</label>
                                <input type="text" name="player" class="form-control" value="$!media.player"/>
                            </div>
##                            <!-- 摄像 -->
##                            <div class="form-group col-md-4">
##                                <label>摄像</label>
##                                <input type="text" name="cameraman" class="form-control" value="$!media.cameraman"/>
##                            </div>
                            <!-- 制作 -->
                            <div class="form-group col-md-4">
                                <label>制作</label>
                                <input type="text" name="producer" class="form-control" value="$!media.producer"/>
                            </div>
                        </div>
##                        <!-- 播放地址 -->
##                        <div class="form-group col-md-12">
##                            <label>播放地址</label>
##                            <input type="text" name="url" class="form-control" value="$!media.url"/>
##                        </div>
                        <!--内容-->
                        <label>内容</label>
                                <textarea id="editor1" name="content" rows="10" cols="80" required>
                                    $!media.content
                                </textarea>
##                        <input type="hidden" name="file" value="$!media.file" required>
                        <input type="hidden" name="gcp" value="$!media.gcp" required>
                        <input type="hidden" name="jp" value="$!media.jp" required>
                        <input type="hidden" name="path" value="$!media.path">
                        <div>
                            <input type="hidden" name="id" value="$!media.id">
                            <input id="sortid" type="hidden" value="$!media.audioSort.id">
                        </div>
                    </form>
                    <br>
                    <form id="upload-form" role="form" enctype="multipart/form-data">
                        <div>

                            <!-- 播放地址 -->
                            <div class="form-group">
                                <label for="exampleInputFile">上传音频文件</label>
                                <input type="file" name="path" id="exampleInputFile" value="$!media.path">
                                <br>
                                <a>已上传音频文件：</a>
                                <input type="text" readonly="readonly" value="$!media.path">
                                <br>
                                <input id="uploadimage" type="submit" value="上传" class="btn btn-danger">

                                <p class="help-block">请上传音频文件</p>
                            </div>
                        </div>
                    </form>
                    <br>
                    <form id="upload-form1" role="form" enctype="multipart/form-data">
                        <!--工尺谱-->
                        <div class="form-group">
                            <label for="exampleInputFile">上传工尺谱</label>
                            <input type="file" name="gcp" id="exampleInputFile" value="$!media.gcp">
                            <br>
                            <a>已上传图片：</a>
                            <input type="text" readonly="readonly" value="$!media.gcp">
                            <br>
                            <input id="uploadimage" type="submit" value="上传" class="btn btn-danger">

                        </div>
                    </form>
                    <br>

                    <form id="upload-form2" role="form" enctype="multipart/form-data">
                        <!--简谱-->
                        <div class="form-group">
                            <label for="exampleInputFile">上传简谱</label>
                            <input type="file" name="jp" id="exampleInputFile" value="$!media.jp">
                            <br>
                            <a>已上传图片：</a>
                            <input type="text" readonly="readonly" value="$!media.jp">
                            <br>
                            <input id="uploadimage" type="submit" value="上传" class="btn btn-danger">

                        </div>
                    </form>

##                    <br>
##
##                    <form id="upload-form3" role="form" enctype="multipart/form-data">
##                        <!--缩略图-->
##                        <div class="form-group">
##                            <label for="exampleInputFile">上传缩略图</label>
##                            <input type="file" name="file" id="exampleInputFile" value="$!media.file">
##                            <br>
##                            <a>已上传图片：</a>
##                            <input type="text" readonly="readonly" value="$!media.file">
##                            <br>
##                            <input id="uploadimage" type="submit" value="上传" class="btn btn-danger">
##
##                        </div>
##                    </form>
                    <div class="box-footer">
                        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-->
    </div>
    <!-- ./row -->
</section><!-- /.content -->
