<section class="content-header">
    <h1>
        新闻管理
        <small>添加文章</small>
    </h1>

</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove"><i
                                class="fa fa-times"></i></button>
                    </div>
                    <!-- /. tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body pad">
                    <form action="/nyadmin/newsadd" method="post">
                        <!-- 类别 -->
                        <div class="form-group">
                            <label>选择类别</label>
                            <select name="newsSort.id" class="form-control">
                                #foreach($newsSort in $newsSortList)
                                    #if($newsSort.id!=1)
                                        <option value="$newsSort.id">$newsSort.name</option>
                                    #end
                                #end
                            </select>
                        </div>
                        <!-- 标题 -->
                        <div class="form-group">
                            <label>标题</label>
                            <input type="text" name="title" class="form-control" placeholder="Enter ..." type="text"
                                   required/>
                        </div>
                        <!-- 作者 -->
                        <div class="form-group">
                            <label>作者</label>
                            <input type="text" name="author" class="form-control" placeholder="Enter ..." type="text"
                                   required/>
                        </div>
                        <!-- 来源 -->
                        <div class="form-group">
                            <label>来源</label>
                            <input type="text" name="source" class="form-control" placeholder="Enter ..."/>
                        </div>
                        <!-- 排序编号 -->
                        <div class="form-group">
                            <label>排序编号</label>
                            <input type="text" name="priority" class="form-control" placeholder="Enter ..." type="text"
                                   required/>
                        </div>
                        <!--内容-->
                        <label>详细内容</label>
                                <textarea id="editor1" name="content" rows="10" cols="80" required>
                                 </textarea>
                        <!--新闻缩略图-->

                        <div class="form-group">
                            <label for="exampleInputFile">上传新闻缩略图</label>
                            <input type="file" name="file" id="exampleInputFile">


                            <p class="help-block">只有上传缩略图，前台才能显示图片新闻，缩略图大小为168*126</p>
                        </div>

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-->
    </div>
    <!-- ./row -->
</section><!-- /.content -->
