#set($pageJS='
<script>
    $(".sidebar-menu li.treeview>a:contains(新闻管理)").parent().addClass("active");
</script>')
<section class="content-header">
    <h1>
        新闻管理
        <small>类别管理</small>
    </h1>

</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">修改类别</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form action="/nyadmin/newssortedit" method="post">
                        <div>
                            <!-- 类别 -->
                            <div class="form-group col-md-6">
                                <label>上级类别</label>
                                <select name="upperNewsSort.id" class="form-control">
                                    #foreach($newsSort in $newsSortList)
                                        <option value="$newsSort.id">$newsSort.name</option>
                                    #end

                                </select>
                            </div>
                            <!-- 标题 -->
                            <div class="form-group col-md-6">
                                <label>类别名称</label>
                                <input type="text" name="name" class="form-control" value="$!newsSort.name" required/>
                            </div>
                        </div>

                        <div>
                            <input type="hidden" name="id" value="$!newsSort.id">
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
