<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>新闻管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    #include("nyadmin/_globalCSS.vm")
</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    #include("nyadmin/_header.vm")
    #include("nyadmin/_side.vm")
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                新闻管理
                <small>类别管理</small>
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">类别列表</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>级别</th>
                                    <th>名称</th>
                                    <th>上级类</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                    #foreach($newsSort in $newsSortList)
                                        #if($newsSort.id!=1)
                                        <tr>
                                            <td>$newsSort.level</td>
                                            <td>$newsSort.name</td>
                                            <td>$!newsSort.upperNewsSort.name</td>
                                            <td><a href="">修改 </a><a href="newssortdelete?id=$newsSort.id">删除</a></td>
                                        </tr>
                                        #end
                                    #end

                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">添加类别</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form action="/nyadmin/newssortadd" method="post">
                                <!-- 类别 -->
                                <div class="form-group">
                                    <label>上级类别</label>
                                    <select name="upperNewsSort.id" class="form-control">
                                        #foreach($newsSort in $newsSortList)
                                            <option value="$newsSort.id">$newsSort.name</option>
                                        #end

                                    </select>
                                </div>
                                <!-- 标题 -->
                                <div class="form-group">
                                    <label>类别名称</label>
                                    <input type="text" name="name" class="form-control" placeholder="Enter ..."/>
                                </div>

                                <!-- 排序编号 -->
                                <div class="form-group">
                                    <label>排序编号</label>
                                    <input type="text" name="level" class="form-control" placeholder="Enter ..."/>
                                </div>

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    #include("nyadmin/_footer.vm")

</div>
<!-- ./wrapper -->

    #include("nyadmin/_globalJS.vm")
</body>
</html>
