<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>新闻管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    #include("nyadmin/_globalCSS.vm")
</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
    #include("nyadmin/_header.vm")
    #include("nyadmin/_side.vm")
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                新闻管理
                <small>文章管理</small>
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">文章列表</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>类别</th>
                                    <th>标题</th>
                                    <th>添加时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                    #foreach($news in $newsList)
                                    <tr>
                                        <td>$news.newsSort.name</td>
                                        <td>$news.title</td>
                                        <td>$news.addDate</td>
                                        <td><a href="newseditpage?id=$news.id">修改 </a><a href="newsdelete?id=$news.id">删除</a></td>
                                    </tr>
                                    #end


                                </tfoot>
                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    #include("nyadmin/_footer.vm")

</div><!-- ./wrapper -->

    #include("nyadmin/_globalJS.vm")
</body>
</html>
