#set($pageJS='
<script>
$(document).ready(function(){
    $(".sidebar-menu li.treeview>a:contains(教学中心)").parent().addClass("active");
    $(function () {
        // instance, using default configuration.
         CKEDITOR.replace("editor1",{ filebrowserUploadUrl : "/nyadmin/ckeditorvideoimage"});
        //bootstrap WYSIHTML5 - text editor
        $(".textarea").wysihtml5();
    });
    $(function () {
        $("#example1").DataTable();
        $("#example2").DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    $("#submit").click(function () {
        $("#data-form").submit();
    });
    $("#upload-form").submit(function () {
        var formData = new FormData(this);
        $.ajax({
            url: "/nyadmin/videomedia",
            type: "POST",
            dataType: "json",
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (data) {
                if (data.result == "success") {
                    $("#data-form input[name=\"file\"]").val(data.fileName);

                }
                alert(data.message);
            }
        });
        return false;
    });
});
</script>')
<section class="content-header">
    <h1>
        教学中心
        <small>曲目管理</small>
    </h1>

</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">曲目别列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>播放地址</th>
                            <th>添加时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                            #foreach($videoDetail in $videoDetailList)
                            <tr>
                                <td>$videoDetail.title</td>
                                <td>$!videoDetail.file</td>
                                <td>$!videoDetail.addDate</td>
                                <td><a href="videodetaileditpage?id=$videoDetail.id" class="btn btn-primary">修改 </a>&nbsp<a
                                        href="videodetaildelete?id=$videoDetail.id" class="btn btn-danger">删除</a></td>
                            </tr>
                            #end


                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">添加类别</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form id="data-form" action="/nyadmin/videodetailadd" method="post">
                        <div>
                            <!-- 类别 -->
                            <div class="form-group col-md-4">
                                <label>选择类别</label>
                                <select name="video.id" class="form-control">
                                    <option selected="selected" value="$!video.id">$!video.title</option>
                                </select>
                            </div>
                            <!-- 标题 -->
                            <div class="form-group col-md-4">
                                <label>曲目名称</label>
                                <input type="text" name="title" class="form-control" placeholder="Enter ..." required/>
                            </div>
                            <!-- 指导老师 -->
                            <div class="form-group col-md-4">
                                <label>指导老师</label>
                                <input type="text" name="teacher" class="form-control" placeholder="Enter ..."/>
                            </div>
                        </div>
                        <div>
                            <!-- 来源 -->
                            <div class="form-group col-md-4">
                                <label>来源</label>
                                <input type="text" name="source" class="form-control" placeholder="Enter ..."/>
                            </div>
                            <!-- 摄制 -->
                            <div class="form-group col-md-4">
                                <label>摄制</label>
                                <input type="text" name="editor" class="form-control" placeholder="Enter ..."/>
                            </div>
                            <!-- 备注 -->
                            <div class="form-group col-md-4">
                                <label>备注</label>
                                <input type="text" name="remark" class="form-control" placeholder="Enter ..."/>
                            </div>
                        </div>
                        <!--内容-->
                        <label>详细内容</label>
                                <textarea id="editor1" name="content" rows="10" cols="80">
                                 </textarea>
                        <input type="hidden" name="file" required>
                    </form>

                    <br>

                    <form id="upload-form" role="form" enctype="multipart/form-data">
                        <div>

                            <!-- 播放地址 -->
                            <div class="form-group">
                                <label for="exampleInputFile">上传媒体文件</label>
                                <input type="file" name="file" id="exampleInputFile">
                                <br>
                                <input id="uploadimage" type="submit" value="上传" class="btn btn-danger">

                                <p class="help-block">请上传媒体文件</p>
                            </div>
                        </div>
                    </form>

                    <div class="box-footer">
                        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

