#set($pageJS='
<script>
$(document).ready(function(){
    $(".sidebar-menu li.treeview>a:contains(教学中心)").parent().addClass("active");
        $(function () {
        // instance, using default configuration.
        CKEDITOR.replace("editor1",{ filebrowserUploadUrl : "/nyadmin/ckeditorvideoimage"});
        //bootstrap WYSIHTML5 - text editor
        $(".textarea").wysihtml5();
    });
     $("#submit").click(function () {
        $("#data-form").submit();
    });
    $("#upload-form").submit(function () {
        var formData = new FormData(this);
        $.ajax({
            url: "/nyadmin/videoimage",
            type: "POST",
            dataType: "json",
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (data) {
                if (data.result == "success") {
                    $("#data-form input[name=\"file\"]").val(data.fileName);
                }
                alert(data.message);
            }
        });
        return false;
    });
});
</script>')
<section class="content-header">
    <h1>
        教学中心
        <small>专辑管理</small>
    </h1>

</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">修改类别</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form id="data-form" action="/nyadmin/videoedit" method="post">
                        <div>
                            <!-- 类别 -->
                            <div class="form-group col-md-6">
                                <label>上级类别</label>
                                <select name="videoSort.id" class="form-control">
                                    #foreach($vs in $videoSortList)
                                        #if($vs.id!=1)
                                            <option value="$vs.id">$vs.name</option>
                                        #end
                                    #end

                                </select>
                            </div>
                            <!-- 标题 -->
                            <div class="form-group col-md-6">
                                <label>专辑名称</label>
                                <input type="text" name="title" class="form-control" value="$!video.title"
                                       required/>
                            </div>
                        </div>
                        <!--内容-->
                        <label>详细内容</label>
                                <textarea id="editor1" name="content" rows="10" cols="80" required>
                                    $!video.content
                                </textarea>

                        <div>
                            <input type="hidden" name="id" value="$!video.id">
                        </div>
                        <input type="hidden" name="file" value="$!video.file" required>
                    </form>
                    <br>

                    <form id="upload-form" role="form" enctype="multipart/form-data">
                        <!--新闻缩略图-->
                        <div class="form-group">
                            <label for="exampleInputFile">上传缩略图</label>
                            <input type="file" name="file" id="exampleInputFile" value="$!video.file">
                            <br>
                            <a>已上传图片：</a>
                            <input type="text" readonly="readonly" value="$!video.file">
                            <br>
                            <input id="uploadimage" type="submit" value="上传" class="btn btn-danger">
                            <p class="help-block">请上传缩略图</p>
                        </div>
                    </form>
                    <div class="box-footer">
                        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
