#set($pageJS='
<script>
$(document).ready(function(){
    $(".sidebar-menu li.treeview>a:contains(教学中心)").parent().addClass("active");
     $(function () {
        // instance, using default configuration.
        CKEDITOR.replace("editor1",{ filebrowserUploadUrl : "/nyadmin/ckeditorteachingimage"});
        //bootstrap WYSIHTML5 - text editor
        $(".textarea").wysihtml5();
    });
    $("#submit").click(function () {
        $("#data-form").submit();
    });
    $("#upload-form").submit(function () {
        var formData = new FormData(this);
        $.ajax({
            url: "/nyadmin/teachingvideo",
            type: "POST",
            dataType: "json",
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (data) {
                if (data.result == "success") {
                    $("#data-form input[name=\"file\"]").val(data.fileName);

                }
                alert(data.message);
            }
        });
        return false;
    });
     $("#upload-form1").submit(function () {
        var formData1 = new FormData(this);
        $.ajax({
            url: "/nyadmin/teachinggcp",
            type: "POST",
            dataType: "json",
            data: formData1,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (data) {
                if (data.result == "success") {
                    $("#data-form input[name=\"gcp\"]").val(data.fileName);
                }
                alert(data.message);
            }
        });
        return false;
    });
     $("#upload-form2").submit(function () {
        var formData2 = new FormData(this);
        $.ajax({
            url: "/nyadmin/teachingjp",
            type: "POST",
            dataType: "json",
            data: formData2,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (data) {
                if (data.result == "success") {
                    $("#data-form input[name=\"jp\"]").val(data.fileName);
                }
                alert(data.message);
            }
        });
        return false;
    });

});
</script>')
<section class="content-header">
    <h1>
        视频管理
        <small>添加视频</small>
    </h1>

</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <br>
                <!-- /.box-header -->
                <div class="box-body pad">
                    <form id="data-form" action="/nyadmin/teachingadd" method="post">
                        <div class="row">
                            <!-- 类别 -->
                            <div class="form-group col-md-4">
                                <label>选择类别</label>
                                <select name="teachingSort.id" class="form-control">
                                    #foreach($teachingSort in $teachingSortList)
                                        #if($teachingSort.id!=1)
                                            <option value="$teachingSort.id">$teachingSort.name</option>
                                        #end
                                    #end
                                </select>
                            </div>
                            <!-- 标题 -->
                            <div class="form-group col-md-4">
                                <label>视频名称</label>
                                <input type="text" name="title" class="form-control" placeholder="Enter ..." type="text"
                                       required/>
                            </div>
                            <!-- 演唱 -->
                            <div class="form-group col-md-4">
                                <label>教师</label>
                                <input type="text" name="teacher" class="form-control" placeholder="Enter ..."
                                       type="text"
                                       required/>
                            </div>
                        </div>
                        <div class="row">
                            <!-- 演奏 -->
                            <div  class="form-group col-md-12">
                                <label>来源</label>
                                <input type="text" name="source" class="form-control" placeholder="Enter ..."/>
                            </div>

                        </div>
                        <!--内容-->
                        <label>内容</label>
                                <textarea id="editor1" name="content" rows="10" cols="80" required>
                                 </textarea>
                        <input type="hidden" name="gcp">
                        <input type="hidden" name="jp">
                        <input type="hidden" name="file">

                    </form>
                    <br>

                    <form id="upload-form" role="form" enctype="multipart/form-data">
                        <div>

                            <!-- 播放地址 -->
                            <div class="form-group">
                                <label for="exampleInputFile">上传视频文件</label>
                                <input type="file" name="file" id="exampleInputFile">
                                <br>
                                <input id="uploadimage" type="submit" value="上传" class="btn btn-danger">

                                <p class="help-block">请上传视频文件</p>
                            </div>
                        </div>
                    </form>

                    <form id="upload-form1" role="form" enctype="multipart/form-data">
                        <!--工尺谱-->
                        <div class="form-group">
                            <label for="exampleInputFile">上传工尺谱</label>
                            <input type="file" name="gcp" id="exampleInputFile">
                            <br>
                            <input id="uploadimage" type="submit" value="上传" class="btn btn-danger">

                        </div>
                    </form>
                    <br>

                    <form id="upload-form2" role="form" enctype="multipart/form-data">
                        <!--简谱-->
                        <div class="form-group">
                            <label for="exampleInputFile">上传简谱</label>
                            <input type="file" name="jp" id="exampleInputFile">
                            <br>
                            <input id="uploadimage" type="submit" value="上传" class="btn btn-danger">

                        </div>
                    </form>


                    <div class="box-footer">
                        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-->
    </div>
    <!-- ./row -->
</section><!-- /.content -->
