#set($pageJS='
<script>
$(document).ready(function(){
    $(".sidebar-menu li.treeview>a:contains(视频管理)").parent().addClass("active");

    $("#submit").click(function () {
        $("#data-form").submit();
    });
    $("#upload-form").submit(function () {
        var formData = new FormData(this);
        $.ajax({
            url: "/nyadmin/videovideo",
            type: "POST",
            dataType: "json",
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (data) {
                if (data.result == "success") {
                    $("#data-form input[name=\"path\"]").val(data.fileName);

                }
                alert(data.message);
            }
        });
        return false;
    });

    $(function()
    {
        var sortid=$("#sortid")[0].value;
        $("#sel option[value="+sortid+"]").attr("selected",true);

    });
});
</script>')
<section class="content-header">
    <h1>
        视频管理
        <small>添加视频</small>
    </h1>

</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <br>
                <!-- /.box-header -->
                <div class="box-body pad">
                    <form id="data-form" action="/nyadmin/videoedit" method="post">
                        <div class="row">
                            <!-- 类别 -->
                            <div class="form-group col-md-4">
                                <label>选择类别</label>
                                <select id="sel" name="videoSort.id" class="form-control">
                                    #foreach($videoSort in $videoSortList)
                                        #if($videoSort.id!=1)
                                            <option value="$videoSort.id">$videoSort.name</option>
                                        #end
                                    #end
                                </select>
                            </div>
                            <!-- 标题 -->
                            <div class="form-group col-md-4">
                                <label>视频名称</label>
                                <input type="text" name="title" class="form-control" value="$!video.title" type="text"
                                       required/>
                            </div>
                            <!-- 演唱 -->
                            <div class="form-group col-md-4">
                                <label>演唱</label>
                                <input type="text" name="singer" class="form-control" value="$!video.singer"
                                       type="text"
                                       required/>
                            </div>
                        </div>
                        <div class="row">
                            <!-- 演奏 -->
                            <div class="form-group col-md-4">
                                <label>演奏</label>
                                <input type="text" name="player" class="form-control" value="$!video.player"/>
                            </div>
                            <!-- 摄像 -->
                            <div class="form-group col-md-4">
                                <label>摄像</label>
                                <input type="text" name="cameraman" class="form-control" value="$!video.cameraman"/>
                            </div>
                            <!-- 制作 -->
                            <div class="form-group col-md-4">
                                <label>制作</label>
                                <input type="text" name="producer" class="form-control" value="$!video.producer"/>
                            </div>
                        </div>

                        <input type="hidden" name="path">
                        <div>
                            <input type="hidden" name="id" value="$!video.id">
                            <input id="sortid" type="hidden" value="$!video.videoSort.id">
                        </div>

                    </form>
                    <br>

                    <form id="upload-form" role="form" enctype="multipart/form-data">
                        <div>

                            <!-- 播放地址 -->
                            <div class="form-group">
                                <label for="exampleInputFile">上传视频文件</label>
                                <input type="file" name="path" id="exampleInputFile" value="$!video.path">
                                <br>
                                <a>已上传音频文件：</a>
                                <input type="text" readonly="readonly" value="$!video.path">
                                <br>
                                <input id="uploadimage" type="submit" value="上传" class="btn btn-danger">

                                <p class="help-block">请上传视频文件</p>
                            </div>
                        </div>
                    </form>


                    <div class="box-footer">
                        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-->
    </div>
    <!-- ./row -->
</section><!-- /.content -->
