*{ margin:0; padding:0; text-decoration:none; list-style-type:none}
body{ background-color:#000;}
#container{width: 1024px; height: auto; margin: 0 auto; padding: 0;background-image:url("/images/bg.png")}
#content{width:100%; height:auto;  position:relative; z-index:1; font-size:12px; border-top:#CCC 1px solid;}
#title{width: 70%; margin: 15px auto;text-align: center;}
#userInfo{width: 70%; height:auto;margin-left: 200px;text-align: center}
#userInfo form table{line-height: 40px;text-align: center; width: 70%; margin: 0 auto;}
.remarks{text-align: left; color:#999999;}