*{ margin:0; padding:0; text-decoration:none; list-style-type:none;font-family: "微软雅黑"}
body{ background-color:#000;}

#container{width: 1024px; height: auto; margin: 0 auto; padding: 0;background-image:url("/images/bg.png")}
#content{width:100%; height: auto;  position:relative; z-index:1; font-size:12px;margin-top: 5px; border-top:#CCC 1px solid; }
#main{width:79.5%; height: auto; float:left;}

#main #teaching{width: 98%; height: auto; margin: 0 auto;}
#main #teaching #teachingTitle{width: 100%;line-height: 25px}
#main #teaching #teachingContent{width: 100%; height:400px; margin-top: 10px; margin-bottom:40px;text-align: center}

#illustration{width: 98%;height:500px;margin: 0 auto;border:#CCC 1px dashed; overflow: auto }

#commentsList{width: 98%;height: auto;margin: 50px auto; padding-top: 20px; text-align:center}
#comments{width: 100%;height: auto;text-align: left; line-height: 30px;border:#CCC 1px dashed; }
#sendComments{width: 98%;height: auto;margin: 20px auto; }
.c4{color: #902b2b;font-size: 14px;font-weight: bold}
.c5 a{color: #CCC}
.c5 a:hover{color: red; text-decoration: underline}
